/* color: #FF750F; */
/* color: #FFDD85; */
/* color: #2B2C3A; */

.page-section {
  /* width: 100%; */
  padding: 3rem;
  max-width: 65rem;
  margin: auto;
}

@media (min-width: 700px) {
  .page-section {
    padding: 5rem;
  }
}

.textBody {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.btn_home {
  margin: 0.2rem;
}

.btn-content {
  width: 7rem;
  padding: 0.5rem;
  margin: auto;
}

a {
  text-decoration: none !important;
  color: inherit;
  border: none;
  outline: none;
}

a:hover {
  text-decoration: none !important;
  color: inherit;
  border: inherit !important;
  outline: none !important;
}

a:active {
  outline: none;
}

.index .background {
  background-image: url(../img/bg_bird.jpg);
  background-size: cover;
  background-position: 80%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

@media (min-width: 1024px) {
  .joinOurCause {
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    background-image: none !important;
    padding: 0;
    top: 60%;
    left: 5%;
    width: 50%;
  }
  .joinOurCause > .page-section {
    padding: 2rem;
  }
}

.joinOurCause {
  text-align: center;
  background-image: url(../img/Mission_Statement_Background.png);
  /* background-size: cover; */
}

.joinOurCause .title {
  font-size: 2rem;
  font-family: "Comfortaa";
  font-weight: bold;
  color: #ff750f;
  margin-bottom: 1rem;
}

.joinOurCause .textBody {
  color: black;
  font-size: 1.4rem;
}

.joinOurCause .btn-content {
  background-color: #ffdd85;
  font-size: 1.2rem;
}

.joinOurCause .btn-content:hover {
  background-color: inherit;
  outline: 0.2rem solid #ffdd85;
  transition: 0.1s ease-in;
  color: #ff750f;
}

.instagram {
  background-color: #2B2C3A;
}

.instagram .title {
  text-align: center;
  font-size: 2rem;
  font-family: "Comfortaa";
  font-weight: bold;
  color: #ff750f;
  margin-bottom: 3rem;
}

.crt-tag {
  color: #2B2C3A !important;
}

.recentPublications {
  background-color: #ffdd85;
  text-align: center;
  /* max-width: 65rem; */
}

.recentPublications .title {
  font-size: 2rem;
  font-family: "Comfortaa";
  font-weight: bold;
  color: #2B2C3A;
  margin-bottom: 1rem;
}
