/* mobile nav bar */
#nav-mobile {
  z-index: 10000;
  transition: all 0.5s ease;
  background-color: #2b2c3a;
  height: 6rem;
}

.nav-mobile-logo-wrap {
    width: 100%;
    height: 100%;
}

.nav-mobile-logo {
    display: inline-block;
    height: 100%;
    margin: 0 5% 0 25%;
    width: 70%;
    vertical-align: middle;
}

.nav-checkbox {
  display: none;
}

.nav-button {
  position: fixed;
  z-index: 10000;
  top: 1rem;
  left: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  background: #2b2c3a;
  box-shadow: 0 0 0.5rem black;
  cursor: pointer;
  transition: height 0.2s, box-shadow 0.2s;
  text-align: center;
}

.nav-icon {
  position: relative;
  margin-top: 2rem;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
}

.nav-icon::before {
  position: absolute;
  top: -0.4rem;
  left: 0;
}

.nav-icon::after {
  position: absolute;
  top: 0.4rem;
  left: 0;
}

.nav-icon,
.nav-icon::before,
.nav-icon::after {
  width: 1.5rem;
  height: 2px;
  background-color: #ffdd85;
  display: inline-block;
  transition: all 0.2s;
}

.nav-button:hover .nav-icon::before {
  top: -0.5rem;
}

.nav-button:hover .nav-icon::after {
  top: 0.5rem;
}

.nav-checkbox:checked + .nav-button .nav-icon {
  background-color: transparent;
}

.nav-checkbox:checked + .nav-button .nav-icon::before {
  transform: rotate(135deg);
  top: 0;
}

.nav-checkbox:checked + .nav-button .nav-icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.nav-mobile-wrap {
  position: fixed;
  padding: 4rem 0 0 0;
  z-index: 10000;
  pointer-events: none;
}

.nav-mobile-list {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  left: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.nav-mobile-list li a {
  padding: 0.75rem 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: row;
  pointer-events: all;
  transition: all 0.25s ease;
  text-transform: uppercase;
}

.nav-mobile-list li a:link,
.nav-mobile-list li a:visited {
  color: #ffdd85;
  text-decoration: none;
}

.nav-mobile-list li img {
  transform: scale(0);
  height: 1.5rem;
  margin: 0 1.3rem;
  transition: transform 0.2s ease;
}

.nav-mobile-list li span {
  margin: 0 0 0 0.5rem;
  font-weight: 800;
  text-decoration: none;
  transform: translateX(50px);
  transition: transform 0.2s ease-out;
}

.nav-mobile-list li span:before,
.nav-mobile-list li span:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 2px;
  transition: all 0.1s ease;
  left: 0;
  background-color: #ffdd85;
}

.nav-mobile-list li:nth-child(1) span {
  transition-delay: 0s;
}

.nav-mobile-list li:nth-child(2) span {
  transition-delay: 0.05s;
}

.nav-mobile-list li:nth-child(3) span {
  transition-delay: 0.1s;
}

.nav-mobile-list li:nth-child(4) span {
  transition-delay: 0.15s;
}

.nav-mobile-list li:nth-child(5) span {
  transition-delay: 0.2s;
}

.nav-mobile-list li:nth-child(1) img {
  transition-delay: 0s;
}

.nav-mobile-list li:nth-child(2) img {
  transition-delay: 0.05s;
}

.nav-mobile-list li:nth-child(3) img {
  transition-delay: 0.1s;
}

.nav-mobile-list li:nth-child(4) img {
  transition-delay: 0.15s;
}

.nav-mobile-list li:nth-child(5) img {
  transition-delay: 0.2s;
}

.nav-outer-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  pointer-events: none;
  transition: all 0.5s;
}

.nav-checkbox:checked ~ .nav-button {
  height: 16rem;
  box-shadow: 0 0 5rem black;
}

.nav-checkbox:checked ~ .nav-outer-bg {
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-checkbox:checked ~ .nav-mobile-wrap .nav-mobile-list li a {
  visibility: visible;
  opacity: 1;
}

.nav-checkbox:checked ~ .nav-mobile-wrap .nav-mobile-list li a img {
  transform: scale(1);
}

.nav-checkbox:checked ~ .nav-mobile-wrap .nav-mobile-list li a span {
  transform: translateX(0px);
}

.nav-checkbox:checked
  ~ .nav-mobile-wrap
  .nav-mobile-list
  li
  a:hover
  span::before,
.nav-checkbox:checked
  ~ .nav-mobile-wrap
  .nav-mobile-list
  li
  a:hover
  span::after {
  width: 100%;
  opacity: 1;
}

/* >>>>><<<<< */
/* this is desktop*/
#nav-desktop {
  z-index: 10000;
  background: #2b2c3a;
  color: #ffdd85;
  box-sizing: border-box;
  padding: 0.5rem 0;
  display: none;
  filter: drop-shadow(0 2.5px 2.5px black);
  position: sticky;
  width: 100%;
  top: 0;
}

.nav-desktop-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: auto;
}

#nav-desktop img {
  padding-top: 0.5rem;
  /* height: 20%; */
}

#nav-desktop a {
  color: #ffdd85;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.15rem;
}
#nav-desktop li {
  display: inline;
  padding: 0 0 0 60px;
}

@media only screen and (min-width: 1024px) {
  #nav-desktop {
    display: block;
  }

  #nav-mobile {
    display: none;
  }
}
