{% extends "layout.html" %} {% block main %}
<link rel="stylesheet" href="../static/css/about.css" />
<div class="page-content about">
    <section class="aboutUs">
        <div class="page-section">
            <h1>About Us</h1>
            <p>The Warbler is a non-profit, student-led organization dedicated to raising awareness about climate and animal injustice around the world. The Warbler is located at New York City and currently holds 60 passionate students yearning to make a change. We aim to achieve this through our three main core values: Environmental Justice, Animal Rights & Conservation, and Climate Justice.</p>
        </div>
    </section>
    <section class="departments">
        <div class="page-section">
            <h1>Our Departments</h1>
            <h2>Public Relations</h2>
            <p>Hello! The PR department has a variety of responsibilities ranging from social media, email, and newsletter. As a PR Liaison, we maintain communication within and outside the organization, which includes but are not limited to reaching to to sponsors/organizations for partnerships, promoting our organization via social media, and informing members of important events. We also work with cover artists and policy analysts to complete the weekly newsletter. Communication is crucial, so that's why we are implementing a weekly meeting for the PR Department. Thank you for your constant support!</p>
            <h2>Graphic Designers</h2>
            <p>Hi, we’re the graphics department! We currently have 4 members of our department: Veronica, Jessica, Catherine, and Arpita. Our job is to make infographics for the Warbler Instagram every Monday, Wednesday, Friday, and Saturday. If you have any questions, or would like to get involved with our department, feel free to contact Veronica at vlee2923@bths.edu!</p>
            <h2>Cover Artists</h2>
            <p>Hello, we are the cover artist department! Our two members, Alex and Mia, are responsible for creating the graphics for our weekly newsletters and any promotional posts for our Instagram. If you have any questions or would like to get involved with our department, feel free to contact us at maropakisalexandra@gmail.com or at myan10@stuy.edu.</p>
            <h2>Researchers</h2>
            <p>Hi! We’re the Research Department. We currently have six members of our department: Sky, Esther, Theresa, Keyi, Anne, and Nina. As members of the research department, we find information and write out posts for our Instagram Page, as well as articles. We usually produce three posts a week, but our content fluctuates with whatever our organization needs! If you have any questions, or want to get involved, email Sky (skyprofita@gmail.com) or Esther (epoon53@gmail.com).</p>
            <h2>Editors</h2>
            <p>As The Warbler’s editors, we revise and refine all of the content produced. We are responsible for checking facts, spelling, grammar, and punctuation for Instagram posts, newsletters, and other documents. Currently, we are a team of 5: Angel, Joyce, Jolie, Jason, and Suwen!</p>
            <h2>Policy Analysts</h2>
            <p>Hi, our policy analyst department is currently comprised of three members: Dorothy Chan, Bradley Lasker, and Leo Xie. We work on finding legislation that needs to be passed or repealed, contacting local government officials, spreading awareness on current events, and more!</p>
            <h2>Treasurers</h2>
            <p>Hello! We are the treasurer department of The Warbler. There are currently 6 members in our team: Alina, Alston, Eddie, Huiwen, Kristy, and Mustafa. Our job is to organize and execute events, as well as manage the funds of our organization. So far, we've planned two charity events : the Game Pigeon fundraiser and the Enamel Pin fundraiser. Email mustafa.saleh23@sitechhs.com if you have any questions!</p>
            <h2>Web Developers</h2>
            <p>We web developers are the ones who built this website! We currently have 4 members: Karen, Shelly, and two Richards (Richard So & Richard Wang). Our job is to keep adding on and maintaining the website for public use. Despite this, our role tends to be pretty flexible, as long as it stays in the realm of code (we have worked with Discord Bots too!). If you have any questions, don't hesitate to email richard.so21@sitechhs.com!</p>
        </div>
    </section>
</div>
{% endblock %}
