{% extends "layout.html" %}

{% block main %}
    <link rel="stylesheet" href="../static/css/contact.css">
    <h1>Let's Connect</h1>
    <form action="">
        <label for="name">Name</label>
        <input type="text" name="name">

        <label for="email">Email</label>
        <input type="email" name="email">
        
        <label for="subject">Subject</label>
        <input type="text" name="subject">

        <label for="message">Message</label>
        <input type="text" name="message">
    </form>
{% endblock %}
