{% extends "layout.html" %} {% block main %}
<div class="page-content index">
  <section class="background">
    <div class="textBody"></div>
  </section>

  <section class="joinOurCause">
    <div class="page-section">
      <div class="title">
        Join Our Cause
      </div>
      <div class="textBody">
        The Warbler aims to promote environmentally-friendly actions that will
        positively impact the ecosystem and improve quality of life for city
        residents.
        <a href="#" class="btn">
          <div class="btn-content">
            Read More
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="recentPublications">
    <div class="page-section">
      <div class="title">
        Recent Publications
      </div>
      <div class="textBody">
        asdf
      </div>
    </div>
  </section>
</div>
{% endblock %}
