{% extends "layout.html" %}

{% block main %}
<div class="page-content index">
    <section class="background">
        <div class="textBody">It works!</div>
    </section>

    <section class="page-section joinOurCause">
        <div class="title">
            Join Our Cause
        </div>
        <div class="textBody">
            The Warbler aims to promote environmentally-friendly actions that will positively impact the ecosystem and
            improve quality of life for city residents.
        </div>
            <a href="#" class="btn" >  
                <div class="btn-content" >
                    Read More
                </div>
            </a>

    </section>

</div>
{% endblock %}