<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="environmental non-profit" />
    <meta name="keyword" content="environmental, student led, non-profit" />
    <meta name="author" content="thewarblernyc" />

    <title>The Warbler Org</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Actor&family=Comfortaa:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <nav>
      <img src="../static/img/logo.svg" alt="" class="logo" />
      <div class="nav-wrap">
        <ul class="nav-list">
          <li><a href="/">Home</a></li>
          <li><a href="/resource">Resources</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>

    <div class="main">
      {% block main %}{% endblock %}
    </div>

    <footer id="footer-mobile">
      <h2>CONNECT WITH US!</h2>
      <div class="footer-mobile-buttons">
        <a href=""><img src="../static/img/icons/fb_icon.png" alt=""></a>
        <a href=""><img src="../static/img/icons/ig_icon.png" alt=""></a>
        <a href=""><img src="../static/img/icons/tw_icon.png" alt=""></a>
      </div>
      <span class="footer-mobile-email">thewarblernyc@gmail.com</span>
      <img src="../static/img/logo.svg" alt="" class="footer-mobile-logo" />
    </footer>
    <footer id="footer-desktop">
      <div class="footer-desktop-container">
        <div class="footer-desktop-rowThick">
          <div class="rowThick-column">
            <h2>EXPLORE</h2>
            <a href="/">Home<br></a>
            <a href="/resource">Resources<br></a>
            <a href="/contact">Contact<br></a>
            <a href="/about">About<br></a>
          </div>
          <div class="rowThick-column">
            <h2>CONTACT US</h2>
            <span>thewarblernyc@gmail.com</span>
          </div>
        </div>
        <div class="footer-desktop-rowThin">
          <img src="../static/img/logo_combined.png" alt="">
          <span class="footer-desktop-copyright">Trademark &reg; 2020 The Warbler Org. All Rights Reserved</span>
          <div class="footer-desktop-buttons">
            <a href=""><img src="../static/img/icons/fb_icon.png" alt=""></a>
            <a href=""><img src="../static/img/icons/ig_icon.png" alt=""></a>
            <a href=""><img src="../static/img/icons/tw_icon.png" alt=""></a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
