<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="environmental non-profit" />
    <meta name="keyword" content="environmental, student led, non-profit" />
    <meta name="author" content="thewarblernyc" />

    <title>The Warbler Org</title>

    <link rel="icon" href="../static/img/lonely_bird.jpg" type="image/jpg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Actor&family=Comfortaa:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <nav id="nav-mobile">
      <input type="checkbox" class="nav-checkbox" id="nav-toggle" />

      <label for="nav-toggle" class="nav-button">
        <span class="nav-icon"></span>
      </label>
      <div class="nav-mobile-wrap">
        <ul class="nav-mobile-list">
          <li>
            <a href="/"
              ><img src="../static/img/icons/home.png" alt="icon" /><span
                >Home</span
              ></a
            >
          </li>
          <li>
            <a href="https://the-warbler-org.myshopify.com/"
              ><img src="../static/img/icons/shop.png" alt="icon" /><span
                >Shop</span
              ></a
            >
          </li>

          <li>
            <a href="/contact"
              ><img src="../static/img/icons/contactUs.png" alt="icon" /><span
                >Contact</span
              ></a
            >
          </li>
          <li>
            <a href="/about"
              ><img src="../static/img/icons/about.png" alt="icon" /><span
                >About</span
              ></a
            >
          </li>
        </ul>
      </div>
      <div class="nav-outer-bg"></div>
      <div class="nav-mobile-logo-wrap">
        <img src="../static/img/logo.svg" alt="" class="nav-mobile-logo" />
      </div>
    </nav>

    <nav id="nav-desktop">
      <div class="nav-desktop-container">
        <a href="/">
          <img src="../static/img/logo_combined.png" alt="" class="logo" />
        </a>
        <div class="nav-desktop-wrap">
          <ul class="nav-desktop-list">
            <li><a href="/">Home</a></li>
            <li><a href="https://the-warbler-org.myshopify.com/">Shop</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main transition-fade" id="swup">
      {% block main %}{% endblock %}
    </div>

    <footer id="footer-mobile">
      <h2>CONNECT WITH US!</h2>
      <div class="footer-mobile-buttons">
        <a href=""><img src="../static/img/icons/fb_icon.png" alt="" /></a>
        <a href=""><img src="../static/img/icons/ig_icon.png" alt="" /></a>
        <a href=""><img src="../static/img/icons/tw_icon.png" alt="" /></a>
      </div>
      <span class="footer-mobile-email">thewarblernyc@gmail.com</span>
      <img src="../static/img/logo.svg" alt="" class="footer-mobile-logo" />
    </footer>
    <footer id="footer-desktop">
      <div class="footer-desktop-container">
        <div class="footer-desktop-rowThick">
          <div class="rowThick-column">
            <h2>EXPLORE</h2>
            <a href="/">Home<br /></a>
            <a href="/resource">Resources<br /></a>
            <a href="/contact">Contact<br /></a>
            <a href="/about">About<br /></a>
          </div>
          <div class="rowThick-column">
            <h2>CONTACT US</h2>
            <span>thewarblernyc@gmail.com</span>
          </div>
        </div>
        <div class="footer-desktop-rowThin">
          <img src="../static/img/logo_combined.png" alt="" />
          <span class="footer-desktop-copyright"
            >Trademark &reg; 2020 The Warbler Org. All Rights Reserved</span
          >
          <div class="footer-desktop-buttons">
            <a href=""><img src="../static/img/icons/fb_icon.png" alt="" /></a>
            <a href=""><img src="../static/img/icons/ig_icon.png" alt="" /></a>
            <a href=""><img src="../static/img/icons/tw_icon.png" alt="" /></a>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='node_modules/swup/dist/swup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/@swup/overlay-theme/dist/SwupOverlayTheme.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
